*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button,input {
    cursor: pointer;
}

button:focus , input:focus {
    outline: none;
}

body{
    background-color: #F7F7F7;
    width: 100vw;
    font-family: helvetica ;
}


header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EBEBEB;
    justify-content: space-around;
    margin-top: 20px;
}

header h1 {
    color: #707070;
    font-weight: bold;
    font-size: 53px;
    border-bottom: 4px solid #B5C401 ;
    border-radius: 3px;
}

header a {
    margin-left:20px ;
    text-decoration: none;
    color: #707070;
    font-size: 24px;
    margin-left: -300px;
}



header div a {
    margin-left:20px ;
    text-decoration: none;
    color: #707070;
    font-size: 24px;
}

.container {

}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
    display: flex;
    font-size: 28px;
    color: #707070;
    font-weight: 300;
    margin-top: 100px;
}

.game p {
    font-size: 28px;
    color: #707070;
    font-weight: 300;
    margin-left: 5px ;
}

.game span {
    font-size: 21px;
    color: #868686;
    font-weight: lighter;
    margin-top: 33px;
}

.chose-game button {
    margin-right: 20px;
}

/* .chose-game .Lotofácil {
    margin-top: 20px;
    border: 2px solid #7F3992;
    width: 113px;
    height: 34px;
    border-radius: 100px;
    background-color: transparent;
    color: #7F3992;
    font-weight: bold;
}

.Lotofácil-toggle {
    margin-top: 20px;
    border: 2px solid #7F3992;
    width: 113px;
    height: 34px;
    border-radius: 100px;
    background-color: #7F3992;
    color: #fff;
    font-weight: bold;
}

.chose-game .Mega-Sena {
    margin-top: 20px;
    border: 2px solid #01AC66;
    width: 113px;
    height: 34px;
    border-radius: 100px;
    background: transparent;
    color: #01Ac66;
    font-weight: bold;
}

.Mega-Sena-toggle {
    margin-top: 20px;
    border: 2px solid #01AC66;
    width: 113px;
    height: 34px;
    border-radius: 100px;
    background: #01Ac66;
    color: #fff;
    font-weight: bold;
}

.chose-game .Quina {
    margin-top: 20px;
    border: 2px solid #F79C31;
    width: 113px;
    height: 34px;
    border-radius: 100px;
    color: #F79C31;
    font-weight: bold;
    background: transparent;

}

.Quina-toggle {
    margin-top: 20px;
    border: 2px solid #F79C31;
    width: 113px;
    height: 34px;
    background-color: #F79C31;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
} */

.text {
    max-width: 648px;
    font-size: 17px;
    color: #868686;
    margin-top: 28px;
    margin-bottom: 20px;
}

.text p {
    font-size: 20px;
    margin-left: 0;
    text-align: justify;
}

.numbers {
    width: 684px;
}

.numbers input {
    border: none;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #ADC0C4;
    border-radius: 50%;
    margin: 0 12px  20px 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}


.numbers .selected {
    background-color: #B5C401;
}

/* .numbers .selected-Lotofácil {
    background-color: #7F3992;
}

.numbers .selected-Mega-Sena {
    background-color: #27C383;
}

.numbers .selected-Quina {
    background-color: #F79C31;
} */

.buttons {
    display: flex;
    margin-top: 30px;

}

.button-game {
    width: 164px;
    height: 52px;
    color: #27C383;
    font-size: 15px;
    padding: 16px;
    border: 1px solid #27C383;
    background: transparent;
    border-radius: 10px;
    margin-right: 25px ;
    font-weight: bold;
}


.add-cart{
    width: 209px;
    height: 52px;
    color: #fff;
    font-size: 15px;
    padding: 16px;
    border: 1px solid #27C383;
    background: #27C383;
    border-radius: 10px;
    margin-left: 59px ;
    font-weight: bold;
}

.cart {
    margin-top: 41px;
    position: relative;
    width: 317px;
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.cart-title {
    color: #707070;
    font-size:28px;
    font-weight: bold;
    margin: 32px 19px
}

.games {
    display: flex;
    margin-top: 35px;
}

.games button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin: 15px;
}

.games div p {
    width: 240px;
    word-wrap: break-word;
    margin-left: 8px ;
    font-size: 17px;
}




.wrapper-total {
    display: flex;
    font-size: 28px;
    margin: 19px;
    color: #707070;
}

.final-text {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 100;
}


.final-button {
    width: 100%;
    height: 96px;
    border: none;
    border-radius: 10px;
    color: #27C383;
    font-size: 32px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #EBEBEB;
    font-size: 17px;
    color: #707070;
    height: 50px;
    margin-top: 48px;
    width: 100%;
}
